body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
    background-image: url(imagenes/fondo\ panal.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    height: 60px;
    background-color: rgb(176, 174, 174);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-nombre{
    color:black;
    padding: 0%;
    margin: 0%;
}

.logo-img{
    height: 80px;
    margin-right: 25px;
}

nav a{
    font-weight: 600;
    padding-block: 31px;
    padding-right: 10px;
    padding-left: 10px;
}

nav a:hover{
    color: white;
    background-color: rgb(239, 92, 114);
}

.mail{
    color: blue;
}

.footer{
    background-color: rgb(172, 170, 170);
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 98.7%;
}

main{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main p{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 5rem;  
}
main h2{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 5rem; 
}
main form{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

main form button{
    margin: 0.7rem;
    width: 8rem;
    height: 2.5rem;
    font-size: 1.1rem;
    background-color:rgba(171, 171, 240, 0.371);
    border-radius: 25%;
    
}

.agenda:hover{
    background-color: rgb(147, 233, 180);
    color: black;
    border-style: solid .1rem;
    cursor: pointer;
}

.promo:hover{
    background-color: rgb(147, 233, 180);
    color: black;
    border-style: solid .1rem;
    cursor: pointer;
}

main img{
    height: 60vh;
    margin-top: -1rem;
}
section{
    font-size: 1.5rem;
    color: black;
    text-align: center;
    margin: 5rem;
}

ul{ 
    height: 100%;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10rem;
    margin-top: 5rem; 
    margin-bottom: 5rem;
}

.servicios{
    margin: 0.5rem;
    width: 8rem;
    height: 2.5rem;
    font-size: 1.1rem;
    background-color:rgba(171, 171, 240, 0.371);
}

.servicios:hover{
    background-color: rgb(147, 233, 180);
    color: black;
    border-style: solid .1rem;
}

h2 section{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 5rem
}